.footer{
  margin-left: 8.7%;
  position: absolute;
  bottom: 1;
  width: 80%;
  display: flex;
  gap: 3.5rem;
}

.about{
  width: 30%;
  margin-right: 5%;
}
.contact{
  width: 38%;
}
.links{
  width: 20%;
}


@media only screen and (max-width: 1069px) {
  .footer {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 0rem;
  }
  .about{
    width: 80%;
    margin-right: 0%;

  }
  .contact{
    width: 80%;
  }
  .links{
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    grid-template-rows: 420px;
    width: 80%;
  }
}
