.logo {
  width: 15rem;
  padding-bottom: 1rem;

}

.linksContainer {
  font-size: 1.5rem;
}
.links {
  padding-left: 0.7rem;
  padding-right: 0.7rem;
}

@media only screen and (max-width: 991px) {
  .dropdown {
    text-align: center;
  }
  .toggle {
    position: relative;
    right: 0;
    top: 0;
  }
  .linksContainer {
    display: flex;
    align-content: center;
  }
  .links {
    margin-left: 6rem;
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
    font-size: 1.5rem;
    padding-left: 0;
    padding-right: 0;
  }
}
