.contactDiv {
  margin-bottom: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contactContainer {
  display: flex;
  gap: 2.5rem;
}

.locationHeader {
  margin-top: 0;
}

.contactHeader {
  margin-bottom: 3.5rem;
}

.formHeader{
  margin-bottom: 1.5rem;
}

.formBody{
  margin-bottom: 4rem;
}

.formBody > a{
color: #4267b2;
text-decoration: underline;
}

@media only screen and (max-width: 1069px) {
  .contactDiv {
    padding-left: 8%;
    padding-right: 8%;
    width: 100%;
    margin-bottom: 2rem;
  }
  .contactContainer {
    display: flex;
    flex-wrap: wrap;
  }

  .locationHeader {
    text-align: center;
    margin-bottom: 1rem;
    margin-top: 0;
  }

  .contactHeader {
    margin-bottom: 1.5rem;
    text-align: center;
  }
}
