.contactContainer {
  display: flex;
  gap: 2.5rem;
}

.locationHeader {
  margin-top: 0;
}

.contactHeader {
  margin-bottom: 3.5rem;
}
.location {
  width: 590px;
}

@media only screen and (max-width: 1069px) {
  .contactContainer {
    display: flex;
    flex-wrap: wrap;
  }

  .locationHeader {
    margin-top: 0;
  }

  .contactHeader {
    margin-bottom: 1.5rem;
  }
  .map {
    max-width: 50px;
    max-height: 50px;
  }
}
